body{
    margin:0;
    padding:0;
    
}
.topOfPageLine{
    height: 17px;
    width: 100vw;
    background-color: #389796;
    position: absolute;
}
.logo{
    height: 160px;
}
.topBar{
    display: flex;
    height: 140px;
    top:17px;
    width: 100vw;
}
ul{
    list-style: none;
    justify-self: flex-end;
}
.topBarLinks{
    justify-self: flex-end;
    gap: 30px;
    text-decoration: none;
    display: flex;
}
.mainSection{
    height: 673px;
    width: 100vw;
}
.servicesSection{
    height: 536px;
    width: 100vw;
}
.testimonialSection{
    height: 557px;
    width: 100vw;
}

button{
    width: 315px;
    border: 3px solid #FFFFFF;
    border-radius: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 15px;
}
